.projects{
  background: white;
  color: maroon;

   h5{
    font-weight:900;
  }
  .home-title{
    font-size: xx-large;
    font-weight: 900;
  }
  .img-thumbnail {
    height:15em;
    object-fit:cover;
  }
  .card-size{
    height: 100%;
    color: maroon !important;
  }
  a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
  }
 }
 