a {
  background: inherit;
  color: inherit;

  h5 {
    color: maroon;
  }

  .card-footer {
    color: maroon !important;
    font-weight: 700;
  }

  .card-title {
    text-align: center;
    color: yellow;
    font-weight: 900;
  }

  .card-body {
    text-align: center;
  }

  .card-img {
    object-fit: scale-down !important;
  }
}