.joinus{
  background: white;
  color: black;

  .typing{
    color: maroon;
  }
  .card-title{
    color: maroon;
    font-weight:900;
  }

  .card-subtitle{
    color: maroon !important;
    font-weight:900;
  }

  .list-group{
    font-weight: 700;
  }

  .card-size{
    background: white;
    border: transparent;
  }
}