.app{
  background: white;
  color: black;
  position:relative;

  .card-title{
    color: maroon;
    font-weight:900;
  }

  .card-subtitle{
    color: maroon !important;
    font-weight:900;
  }

  .list-group{
    font-weight: 700;
  }

  .card-size{
    background: white;
    border: transparent;
  }

  iframe{
    width: 100%;
  }

  .card-text{
    color: maroon;
  }

  .col{
    align-self: stretch;
  }

  .badge{
    color: white;
    background-color: maroon;
  }
}