.links{
  background: white;
  color: maroon;
  
  h5{
    font-weight:900;
  }
  .card-size{
    height: 90%;
    color: maroon !important;

  }
  a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
  }
  .card-img {
    object-fit:fill !important;
  }

  .card-size-social {
    height: 100%;
    width: 100%;
    background: white;
    border: transparent;
  }

    .card-title {
    color: maroon;
    font-weight: 900;
  }
}