.map{
  font-size: large;
  position:relative;
  background: white;
  color: maroon;
  background-color: whitesmoke;
  .card{
    border-color: transparent !important;
    background-color: whitesmoke;
    .card-title{
      font-size: x-large;
      font-weight: bold;
    }
    .list-group-item{
      background-color: whitesmoke;
    }
    .card-text{
      font-size: medium;
    }
  }
  a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
  }
 }
 