.map{
  background: white;
  overflow:hidden;
 }
  
 .directions-h{
  color: maroon;
  font-weight:900;
 }
  
 .directions{
  color: maroon;
  font-weight:500;
 }

 .badge{
   color: white;
   background-color: maroon;
 }